.item
.itemDragged
  width: 100px
  position: absolute
  user-select: none
  transition: transform 0.2s ease, filter 0.2s ease
  z-index: 100
  img
    pointer-events: none
    user-select: none

.item
  cursor: grab

.itemDragged
  transform: scale(1.1)
  cursor: grabbing

.overTrash
  filter: invert(100%);
